{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.about }}
{{ if .enable }}
<section class="service-about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}<div class="mt-30">{{ . | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
        <div style="justify-content: space-around; display: flex; flex-direction: row; flex-wrap: wrap;">
          <a href="{{ .link | safeURL }}" class="btn btn-main animated fadeInUp"
            style="width: 15em;align-self: center;margin: 0.5em;">{{ .label }}</a>
        </div>
      </div>
      {{ with .image -}}
      <div class="col-md-6">
        <img class="img-responsive" src="{{ . | relURL }}">
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ end }}