<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="70%" height="100%" viewBox="0 0 1037 3496" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
  <g>
    <g id="Image">
      <g id="_3D" serif:id="3D">
        <switch>
          <foreignObject x="30px" y="3216.95px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier left">{{ .atelier_11 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="_3D1" serif:id="3D" x="-3.984px" y="3326.95px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_11 }}</text>  */}}
        <circle id="Impression-3D" serif:id="Impression 3D" cx="533.78" cy="3306.97" r="138.78" style="fill:none;" />
        <clipPath id="_clip1">
          <circle cx="533.78" cy="3306.97" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip1)">
          <use xlink:href="#_Image2" x="0" y="0" width="147px" height="193px" transform="matrix(1,0,0,1,459.844,3210.06)" />
        </g>
      </g>
      <g id="Recuperation">
        <switch>
          <foreignObject x="716.461px" y="2908.68px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier right">{{ .atelier_10 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Recup" x="716.248px" y="3018.68px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_10 }} </text>  */}}
        <circle id="Recuperation1" serif:id="Recuperation" cx="524.331" cy="2998.12" r="138.78" style="fill:none;" />
        <clipPath id="_clip3">
          <circle cx="524.331" cy="2998.12" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip3)">
          <use xlink:href="#_Image4" x="0" y="0" width="235px" height="125px" transform="matrix(1,0,0,1,406.693,2935.22)" />
        </g>
      </g>
      <g id="Stockage">
        <switch>
          <foreignObject x="30px" y="2594.51px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier left">{{ .atelier_9 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Stovkage" x="116.65px" y="2704.51px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_9 }}</text>  */}}
        <circle id="Stockage1" serif:id="Stockage" cx="533.78" cy="2683.71" r="138.78" style="fill:none;" />
        <clipPath id="_clip5">
          <circle cx="533.78" cy="2683.71" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip5)">
          <use xlink:href="#_Image6" x="0" y="0" width="215px" height="229px" transform="matrix(1,0,0,1,427.335,2571.62)" />
        </g>
      </g>
      <g id="Electro">
          <switch>
            <foreignObject x="716.461px" y="2290px" width="30%" height="200">
              <div class="svgatelier"><div class="atelier right">{{ .atelier_8 }}</div></div>
            </foreignObject>  
          </switch>
          {{/*  <text x="119.358px" y="256.851px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">
            <textPath xlink:href="#path1"></textPath>
          </text>  */}}
        <circle id="Electromenager" cx="524.331" cy="2373.5" r="138.78" style="fill:none;" />
        <clipPath id="_clip7">
          <circle cx="524.331" cy="2373.5" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip7)">
          <use xlink:href="#_Image8" x="0" y="0" width="181px" height="258px" transform="matrix(1,0,0,1,433.907,2243.77)" />
        </g>
      </g>
      <g id="Hifi">
        <switch>
          <foreignObject x="30px" y="1958.52px" width="30%" height="200">
          <div class="svgatelier"><div class="atelier left">{{ .atelier_7 }}</div></div> 
          </foreignObject>  
        </switch>
        {{/*  <text id="Hi-Fi" x="239.383px" y="2078.52px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_7 }}</text>  */}}
        <circle id="Hi-Fi1" serif:id="Hi-Fi" cx="533.78" cy="2057.8" r="138.78" style="fill:none;" />
        <clipPath id="_clip9">
          <circle cx="533.78" cy="2057.8" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip9)">
          <use xlink:href="#_Image10" x="0" y="0" width="189px" height="199px" transform="matrix(1,0,0,1,438.907,1958.39)" />
        </g>
      </g>
      <g id="Meca">
        <switch>
          <foreignObject x="716.461px" y="1659.07px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier right">{{ .atelier_6 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Mecanique" x="716.248px" y="1769.07px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_6 }}</text>  */}}
        <circle id="Mecanique1" serif:id="Mecanique" cx="524.331" cy="1748.51" r="138.78" style="fill:none;" />
        <clipPath id="_clip11">
          <circle cx="524.331" cy="1748.51" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip11)">
          <use xlink:href="#_Image12" x="0" y="0" width="165px" height="183px" transform="matrix(1,0,0,1,441.086,1656.79)" />
        </g>
      </g>
      <g id="Eshop">
        <switch>
          <foreignObject x="30px" y="1343.72px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier left">{{ .atelier_5 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Eshop1" serif:id="Eshop" x="169.558px" y="1453.72px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_5 }}</text>  */}}
        <circle id="E-Shop" cx="533.78" cy="1433.06" r="138.78" style="fill:none;" />
        <clipPath id="_clip13">
          <circle cx="533.78" cy="1433.06" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip13)">
          <use xlink:href="#_Image14" x="0" y="0" width="190px" height="226px" transform="matrix(1,0,0,1,438.728,1319.76)" />
        </g>
      </g>
      <g id="Bois">
        <switch>
          <foreignObject x="716.461px" y="1033.09px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier right">{{ .atelier_4 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Bois1" serif:id="Bois" x="76.248px" y="1143.09px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_4 }}</text>  */}}
        <circle id="Bois2" serif:id="Bois" cx="524.331" cy="1122.57" r="138.78" style="fill:none;" />
        <clipPath id="_clip15">
          <circle cx="524.331" cy="1122.57" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip15)">
          <use xlink:href="#_Image16" x="0" y="0" width="182px" height="227px" transform="matrix(1,0,0,1,433.335,1008.55)" />
        </g>
      </g>
      <g id="Nettoyage">
        <switch>
          <foreignObject x="30px" y="720.096px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier left">{{ .atelier_3 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text x="87.63px" y="830.096px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_3 }}</text>  */}}
        <circle id="Nettoyage2" serif:id="Nettoyage" cx="533.78" cy="810.25" r="138.78" style="fill:none;" />
        <clipPath id="_clip17">
          <circle cx="533.78" cy="810.25" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip17)">
          <use xlink:href="#_Image18" x="0" y="0" width="112px" height="247px" transform="matrix(1,0,0,1,478.277,686.65)" />
        </g>
      </g>
      <g id="Velo">
        <switch>
          <foreignObject x="716.461px" y="400.741px" width="30%" height="200">
          <div class="svgatelier"><div class="atelier right">{{ .atelier_2 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Velos" x="716.461px" y="514.741px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_2 }}</text>  */}}
        <circle id="Vélos" cx="524.689" cy="494.653" r="138.78" style="fill:none;" />
        <clipPath id="_clip19">
          <circle cx="524.689" cy="494.653" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip19)">
          <use xlink:href="#_Image20" x="0" y="0" width="243px" height="265px" transform="matrix(1,0,0,1,402.861,361.855)" />
        </g>
      </g>
      <g id="Informatique">
        <switch>
          <foreignObject x="30px" y="90px" width="30%" height="200">
            <div class="svgatelier"><div class="atelier left">{{ .atelier_1 }}</div></div>
          </foreignObject>  
        </switch>
        {{/*  <text id="Informatique1" serif:id="Informatique" x="22.091px" y="207.911px" style="font-family:'Bree-Regular', 'Bree';font-size:58.333px;fill:#28a745;">{{ .atelier_1 }}</text>  */}}
        <circle id="Informatique2" serif:id="Informatique" cx="533.54" cy="184.62" r="138.78" style="fill:none;" />
        <clipPath id="_clip21">
          <circle cx="533.54" cy="184.62" r="138.78" />
        </clipPath>
        <g clip-path="url(#_clip21)">
          <use xlink:href="#_Image22" x="0" y="0" width="263px" height="148px" transform="matrix(1,0,0,1,401.839,110.97)" />
        </g>
      </g>
    </g>
    <g id="Courbe">
      <path d="M507.373,29.593c-184.342,30.914 -187.352,278.665 4.553,310.437c15.944,1.407 22.267,2.601 30.636,3.085c170.246,9.84 192.072,265.537 13.487,305.146c-9.551,1.143 -19.87,4.125 -30.25,4.439c-215.25,24.247 -204.29,310.479 1.669,314.962c6.275,-0.075 12.117,0.604 18.603,0.74c160.955,9.629 201.35,276.859 7.331,306.941l-23.637,2.549c-205.689,9.359 -224.876,291.254 -3.656,314.2l20.982,1.91c174.767,22.877 184.383,284.426 6.106,305.769l-21.768,1.834c-203.223,-0.91 -231.102,301.74 -0.647,316.552l18.108,2.299c160.477,14.625 190.973,272.159 -2.776,306.124l-19.521,2.823c-208.894,14.762 -220.802,288.557 0.249,311.512l19.964,3.376c171.354,26.058 188.604,279.888 2.21,306.789l-17.191,1.696c-198.085,7.92 -221.874,282.947 -25.701,314.479" style="fill:none;stroke:#53823b;stroke-width:16.96px;" />
      <ellipse cx="531.588" cy="27.684" rx="27.358" ry="27.469" style="fill:#53823b;" />
      <ellipse cx="526.399" cy="3467.76" rx="26.522" ry="27.433" style="fill:#53823b;" />
    </g>
  </g>
  <defs>
    <path id="path1" d="M10,30 H190 M10,60 H190 M10,90 H190 M10,120 H190"></path>
    <image id="_Image2" width="147px" height="193px" href="{{ .img_11 | relURL }}" />
    <image id="_Image4" width="235px" height="125px" href="{{ .img_10 | relURL }}" />
    <image id="_Image6" width="215px" height="229px" href="{{ .img_9 | relURL }}" />
    <image id="_Image8" width="181px" height="258px" href="{{ .img_8 | relURL }}" />
    <image id="_Image10" width="189px" height="199px" href="{{ .img_7 | relURL }}" />
    <image id="_Image12" width="165px" height="183px" href="{{ .img_6 | relURL }}" />
    <image id="_Image14" width="190px" height="226px" href="{{ .img_5 | relURL }}" />
    <image id="_Image16" width="182px" height="227px" href="{{ .img_4 | relURL }}" />
    <image id="_Image18" width="112px" height="247px" href="{{ .img_3 | relURL }}" />
    <image id="_Image20" width="243px" height="265px" href="{{ .img_2 | relURL }}" />
    <image id="_Image22" width="263px" height="148px" href="{{ .img_1 | relURL }}" />
  </defs>
</svg>